body{
    background-color: black;
    color: white;
}

.verdana{
    font-family:Verdana, sans-serif ;
}

.verdana{
    font-family:Verdana, sans-serif ;
}

.cabrili{
    font-family: Calibri, sans-serif ;
}